.DS_Store
.deps
*.o
*.d
config.h
config.h.in~
config.log
config.status
configure
autom4te.cache
doc/Doxyfile
doc/html
doc/latex
src/Makefile
src/Makefile.in
stamp-h1
test-driver
test.old
test/Makefile
test/Makefile.in
test/data
utils/Makefile
utils/Makefile.in
Makefile
Makefile.in
