.DS_Store
.deps
*.o
*.d
config.h
config.h.in~
config.log
config.status
doc/latex
src/Makefile
src/Makefile.in
test.old
test/Makefile
test/Makefile.in
test/data
utils/Makefile
utils/Makefile.in
Makefile
Makefile.in
